
	/* css only show/hide

 */


#article article{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#article figure {
    margin: 0 0 1.3rem 0;
    -webkit-transition: .125s linear;
    -moz-transition: .125s linear;
    -ms-transition: .125s linear;
    -o-transition: .125s linear;
    transition: .125s linear;
}

#article figure img {
    max-width: 100%;
    height: auto;
}





#article p { margin-bottom: 1.3rem }

#article article {
    margin-bottom: 3rem;
    position: relative;
    *zoom: 1;
}

#article article:before, article:after {
    content: "";
    display: table;
}

#article article:after { clear: both }

#article article figure {
    float: left;
    width: 32.5%;
}

#article article section:first-of-type {
    float: right;
    width: 62.5%;
}

#article article section:last-of-type {
    display: none;
    visibility: hidden;
}

#article section {
    -webkit-transition: .125s linear;
    -moz-transition: .125s linear;
    -ms-transition: .125s linear;
    -o-transition: .125s linear;
    transition: .125s linear;
}

#article input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#article [for="read_more"] {
    position: absolute;
    bottom: -3rem;
    left: 0;
    width: 100%;
    
    padding: .65rem;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
}

#article [for="read_more"]:hover {
    background: rgba(0,0,0,.5);
    color: rgb(255,255,255);
}

#article [for="read_more"] span:last-of-type {
    display: none;
    visibility: hidden;
}

#article input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
    width: 100%;
}

#article input[type=checkbox]:checked ~ figure { width: 100% }

#article input[type=checkbox]:checked ~ [for="read_more"] span:first-of-type {
    display: none;
    visibility: hidden;
}

#article input[type=checkbox]:checked ~ [for="read_more"] span:last-of-type {
    display: block;
    visibility: visible;
}