body {
  background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/escheresque.png') repeat;
}
.div{
background:rgb(255,200,200);
  padding: 10px;
  position: relative;
  z-index: 90;
background-image:-webkit-linear-gradient(top, #fff, #eee);
background-image:linear-gradient(top, #fff, #eee);
border:1px solid #ddd;-moz-border-radius:5px;
-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 0 #9a9a9a;
-webkit-box-shadow:0 1px 0 #9a9a9a;box-shadow:0 1px 0 #9a9a9a;
}

